.main{
    height:100%;
    width: 100vw;
    background-color: var(--primary-color);
    margin: 0;
    padding: 0 16px ;
    box-sizing: none;
}
.main h2{
    font-size: var(--tittle);
    font-weight: 100;
    color:var(--text-color);
    margin-top: 32px;
}
.listCard{
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    max-height: 250px;
    justify-content: flex-start;
}